body {
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px; /* Width of the vertical navbar */
  background-color: #000;
  padding-top: 20px; /* Adjust as needed */
  overflow-y: auto; /* Enable vertical scrolling */
}

.navbar a {
  display: block;
  color: white;
  padding: 15px;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover {
  background-color: #333;
}

.content {
  margin-left: 220px; /* Adjust to leave space for the vertical navbar */
  padding: 20px;
}
